<script>
  import TodosList from "./TodosList.svelte";
  let inputValue = "";
  let todos = [
    { id: 0, title: "Doing first thing", isDone: true },
    { id: 1, title: "Doing second thing", isDone: false }
  ];

  function addTodo(title) {
    const value = inputValue.trim();
    if (value) {
      todos = [
        ...todos,
        {
          id: todos.length,
          title: inputValue,
          isDone: false
        }
      ];
    }
    inputValue = "";
  }

  function handleClickAdd() {
    addTodo(inputValue);
  }

  function handleClickItem(id) {
    todos = todos.map(todo => {
      if (todo.id === id) {
        return {
          ...todo,
          isDone: !todo.isDone
        };
      }
      return todo;
    });
  }

  function handleKeydown(event) {
    if (event.key === "Enter") {
      addTodo(inputValue);
    }
  }
</script>

<input type="text" placeholder="What next ?" bind:value={inputValue} />
<svelte:window on:keydown={handleKeydown} />
<button on:click={handleClickAdd}>Add</button>

<TodosList list={todos} clickElement={handleClickItem} />
