<script>
  export let list = [];
  export let clickElement;
</script>

<style>
  ul {
    display: flex;
    flex-direction: column-reverse;
  }

  li {
    cursor: pointer;
    color: green;
    font-weight: 400;
    font-family: sans-serif;
  }

  .done {
    color: orange;
    text-decoration: line-through;
  }
</style>

<h1>Todos list</h1>
<ul>
  {#each list as item}
    <li
      class={item.isDone ? 'done' : ''}
      on:click={() => clickElement(item.id)}>
      {item.title}
    </li>
  {/each}
</ul>
